.bludo{
    width: 1439px;
    height: 1225px;
    margin: -151px auto 0 auto;
    border: solid 2px #F7C334;
    display: flex;
    padding: 110px 0 0 0;
}
h2{
    height: 60px;
    font-size: 54px;
    color: #F7C334;
    text-align: center;
}
h4{
    font-size: 20px;
    color: #ffd700;
    margin: -125px 0 0 207px;
    font-family: "Montserrat", sans-serif;

}
p{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin: 17px 0 0 197px; 
}
.bludo_block{
    height: 148px;
    width: 455px;
    align-items: center;
    background-color: #2d2d2d;
    color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin:   162px 0 0 45px ;
}

.bludo_block2{
    height: 148px;
    width: 455px;
    align-items: center;
    background-color: #2d2d2d;
    color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin:   162px 0 0 0 ;
}
.bludo_block3{
    height: 148px;
    width: 455px;
    align-items: center;
    background-color: #2d2d2d;
    color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin:   162px 0 0 0 ;
}
.bludo_block4{
    height: 148px;
    width: 455px;
    align-items: center;
    background-color: #2d2d2d;
    color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin:   162px 0 0 0 ;
}
.bl_btn{
    width: 134px;
    height: 45px;
    background: #F7C334;
    border-radius: 120px;
    color: #fff;
    font-size: 14px;
    margin: 25px 0 0 150px;
    font-family: "Montserrat", sans-serif;
}
.bl_btn:hover{
    width: 134px;
    height: 45px;
    background: #b69026;
    border-radius: 120px;
    color: #dddddd;
    font-size: 14px;
    margin: 25px 0 0 150px;
    font-family: "Montserrat", sans-serif;
}
.bl_btn:active{
    width: 134px;
    height: 45px;
    background: none;
    border-radius: 120px;
    color: #dddddd;
    border: double 2px #F7C334;
    font-size: 14px;
    margin: 25px 0 0 150px;
    font-family: "Montserrat", sans-serif;
}