footer {
    padding: 40px;
    background-color: #2F2A2A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .logo {
    font-size: 18px;
    color: #ffd700;
    margin-bottom: 20px;
  }

  .section {
    margin-bottom: 20px;
  }

  .section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
  }

  .section p, .section ul {
    font-size: 14px;
    margin: 0;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    padding: 0;
  }

  .section ul li {
    margin-bottom: 5px;
  }

  .copyright {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: #a0a0a0;
  }

  .footer-links {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #a0a0a0;
  }

  .footer-links a {
    color: #a0a0a0;
    margin: 0 10px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }

  .footer-links a:hover {
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
  }
li{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}
p{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}