.history{
    width: 1439px;
    height: 691px;
    background: #2F2A2A;
    margin: -195px auto 0 auto;
    border: solid 2px #F7C334;
    
}
.h_h2{
    font-size: 54px;
    color: #F7C334;
    text-align: center;
    margin: 0 0 0 0;
    font-family: "Montserrat", sans-serif;
}
.h_p{
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.miniblock{
    width: 300px;
    height: 85px;
    margin:  90px 0 0 270px;
    justify-content: space-around;
    display: flex;
}
.minbl_h3{
    font-size: 40px;
    color: #F7C334;
    text-align: center;
    margin:  0 0 15px 0;
    font-family: "Montserrat", sans-serif;
}
.minbl_p{
    font-size: 20px;
    color: #fff;
    margin:  0 0 0 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.blo{
    width: 444px;
    height: 250px;
    padding: 100px 0 0 196px;
}