.nav{
    width: 1439px;
    height: 62px;
    background: #2F2A2A;
    margin: -8px auto 0 auto;
    display: flex;
    align-items: center;
    border: solid 2px #F7C334;
}
.nav_ul{
    margin: 0 0 0 536px;
    width: 367px;
    height: 17px;
    align-items: center;
    list-style-type: none; 
    display: flex;
    justify-content: space-around;   
}
.ul_li{
    font-size: 14px;
    color: #F7C334;
    font-family: "Montserrat", sans-serif;
}
a{
    font-size: 13px;
    color: #F7C334;
    font-family: "Montserrat", sans-serif;
    text-decoration: none; 
}
.ul_li:hover{
    font-size: 14px;
    color: #c7a033;
    font-family: "Montserrat", sans-serif;
}
.ul_li:active{
    font-size: 14px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
.nav_btn{
    width: 134px;
    height: 36px;
    background: #F7C334;
    border-radius: 120px;
    color: #fff;
    font-size: 14px;
    margin: 0 0 0 150px;
    font-family: "Montserrat", sans-serif;
}
.nav_btn:hover{
    width: 134px;
    height: 36px;
    background: #b69026;
    border-radius: 120px;
    color: #dddddd;
    font-size: 14px;
    margin: 0 0 0 150px;
    font-family: "Montserrat", sans-serif;
}
.nav_btn:active{
    width: 134px;
    height: 36px;
    background: none;
    border-radius: 120px;
    color: #dddddd;
    border: double 2px #F7C334;
    font-size: 14px;
    margin: 0 0 0 150px;
    font-family: "Montserrat", sans-serif;
}